<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= task.budget %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= task.order %>
  </p>

</div>
